/* Footer */
.footer {
    background-image: url('/images/photo_footer.png');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 60px 20px;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.footer p,
.footer li,
.footer a {
    font-size: 16px;
    line-height: 1.6;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 6px;
}

.social-media a {
    margin-right: 10px;
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    font-size: 14px;
}